
html {
	background: lightgray;
	padding: 0;
	margin: 0;
}

body {
	max-width: 1080px;
	background: white;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	padding: 0;
	font-family: 'Cabin', serif;
	color: rgb(68, 68, 68);
}

a:visited, a:link, a:hover, a:active {
	color: blue;
	text-decoration: none;
}

.menuitem {
	border: 1px solid black;
	border-left: none;
	width: 200px;
	display: inline-block;
	padding: 10px 0 10px 0;
	text-align: center;
	background: white;
}

.menuitem:link, .menuitem:hover, .menuitem:visited, .menuitem:active {
	color: rgb(68,68,68);
}

.menuitem:hover {
	background: black;
	color: white;
}

.header {
	background: gray;
        background-image: url('background3.jpg');
        height: 150px;
	padding: 30px 30px 50px 30px;
}

h1,h2 {
	margin: 0;
}

.header h1 {
	font-size: 40px;
	# color: lightgray;
        color: black;
}

.content {
	padding: 30px;
}

a img {
	vertical-align: middle;
}

.navigation {
	background: black;
}

.sidecolumn {
	float: right;
	margin-left: 30px;
}

.pubentry {
	padding: 10px 0px 10px 0;
}
.odd {
	background: rgb(180,180,180);
}

.even {
	background: lightgray;
}

.me {
	font-weight: bold;
}

.prettyprint {
	font-size: small;
}

.youtube {
	border: 1px solid black;
}

.date {
}

.link_panel {
	margin-left: 5px;
}

.link_panel a img {
	vertical-align: middle;
	margin-right:3px;
}

.close {
	margin-top: 0px;
}
