extends layout
block title
	= page.title

block append head
	if page.metadata.code
		link(rel="stylesheet", href='http://yandex.st/highlightjs/7.5/styles/default.min.css')
		script(src='http://yandex.st/highlightjs/7.5/highlight.min.js')
		script.
			hljs.initHighlightingOnLoad();

block append body

block prepend content
	if page.metadata.title 
		h1
			= page.metadata.title
	if page.metadata.date
		span.date= moment.utc(page.metadata.date).format('DD. MMMM YYYY')
	!= page.html

block footer
