extends layout
block content
	h1
		= page.title
	p.close
		= page.metadata.authors
	h2 Abstract
	p.close
		= page.metadata.abstract
	h2 Published In
	p.close
		= page.metadata.published + ' '
	a(href=baseUrl + "cma/") Back to report list
